.venv/
__pycache__/
record.log
images/baked-kabocha-pumpkin.jpeg
images/baked-kabocha-pumpkin.jpg
images/Michael and Carol.jpeg
images/Michael and Carol.jpg
images/thumbnails/baked-kabocha-pumpkin.jpeg
images/thumbnails/baked-kabocha-pumpkin.jpg
images/thumbnails/Michael and Carol.jpeg
images/thumbnails/Michael and Carol.jpg
images/overnight-white-bread.jpg
images/pizza-dough-ken-forkish.jpg
images/thumbnails/overnight-white-bread.jpg
images/thumbnails/pizza-dough-ken-forkish.jpg
